.upper_search_box {
	background-color: #f5d600;
	display: flex;
	padding: 10px;
}
html, body {
	margin: 0;
}
.search_box {
	border-bottom: 1px solid #9d9e57;
    color: #8e9557;
	font-family: -apple-system, sans-serif;
	height: 20px;
	flex: 1 1 auto;
	font-size: 14px;
	text-align: center;
	margin: 0 18px;
}
#profile_icon {
	flex: 0 1 auto;
	font-size: 20px;
	margin-left: 6px;
}
#setting_icon {
	flex: 0 1 auto;
	font-size: 20px;
	margin-right: 6px;
}
#search_icon {
	font-size: 15px;
	margin-right: 5px;
}
.navigation_bar {
	display: flex;
	background-color: white;
	padding-top: 10px;
	text-align: center;
}
.newsfeed_icon {
	color: #a1a5aa;
	font-size: 20px;
	flex: 1;
}
.friends_icon {
	color: #a1a5aa;
	font-size: 20px;
	flex: 1 1 auto;
}
.active {
	color: #f5d600;
}
.chat_icon, .noti_icon, .menu_icon {
	color: #a1a5aa;
	font-size: 20px;
	flex: 1 1 auto;
}
.indicator {
	background-color: #f5d649;
	height: 2px;
	margin-top: 5px;
}
.what_do_you_think {
	background-color: white;
	font-family: -apple-system, sans-serif;
	margin-top: 3px;
	padding: 0 10px 0 10px;
	display: flex;
}
.profile_pic_wdyt {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline;
	align-self: center;
}
.wdyt_box {
	color: #444950;
    margin: 12px 10px;
    padding: 7px 18px;
    border: 1px solid #ccd0d5;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    align-self: center;
    width: 100%;
}
.wdyt_photo_icon {
	font-size: 24px;
	padding-left: 13px;
    padding-right: 13px;
	color: #6f7278;
}
.wdyt_photo_icon_area {
	display: inline-block;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.wdyt_photo_text {
	color: #444950;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
}
.story_area {
	font-family: -apple-system, sans-serif;
	background: white;
    margin: 8px 0;
    position: relative;
}
.story_archive {
	float: right;
}
.profpic {
	width: 90px;
    height: 145px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 5px;
}
.story_header {
	padding: 8px 5px 8px 8px;
}
.bold_text {
	font-size: 14px;
}
.story_archive {
	color: #606770;
	margin-right: 3px;
	font-size: 14px;
}
.story_preview {
	padding-bottom: 6px;
}
.story_archive_icon {
	height: 12px;
    width: 12px;
    background-image: url(/assets/icons_pack.png);
    background-size: 109px 169px;
    background-repeat: no-repeat;
    background-position: -78px -156px;
    display: inline-block;
}




